*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flotar{
    float: left;
}

.svg{
    width: 600px;
    height: 400px;
}

img {
    width: 40%;
    height: 200px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    /* margin: auto; */
    float: right;
}

img:hover{
    width: 60%;
    height: 300px;
}

h1 {
    width: 200px;
    height: 150px;
}
