*{
margin: 0;
padding: 0;
box-sizing: border-box;


}
.grid-container{
 display: grid;
 grid-template-columns: 400px 1fr 1fr 1fr ;
 grid-template-rows: 1fr 100px 1fr;
 row-gap: 25px;
 column-gap: 50px;
}
.uno{
    grid-column: 1/5;
    grid-row: 2;
}
p{
    background-color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    grid-column: 1/5;
    grid-row: 3;

}

img{
    width: 150px;
    height: 150px;
    border: 1px solid black;
}