

section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    width: 600px;
    height: 600px;
    margin: 25px;
}

p{
    width: 500px;
    margin: 25px;
}